.category-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.category-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.category-card-image {
  width: 100px;
  z-index: 100;
  object-fit: cover;
}
.category-card-text {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
@media(max-width: 767px) {
  .category-card-category-card {
    width: 48%;
  }
}
@media(max-width: 479px) {
  .category-card-category-card {
    width: 100%;
  }
}
